<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='one.css') }}">
</head>
<body>
    <div class="login">
        <div class="login-triangle"></div>
        
        <h2 class="login-header">Register</h2>
      
        <form class="login-container" action='/register'method='post'>
          <p><input type="email" name='ema' placeholder="Email"></p>
          <p><input type="password" name='pass' placeholder="Password"></p>
          <p><input type="submit" formmethod="POST"></p>
        </form>
      </div>
</body>
</html>